[app]
APP_NAME = Job Market Analysis
APP_ENV=local
APP_DEBUG=True
APP_VERSION = "1.0.0"
APP_COPYRIGHT = "Copyright (c) 2020 Summer Dashboard"
APP_AUTHOR = "Summer Dashboard"
APP_DESCRIPTION = "Job Market Analysis"


[server]
PORT = 8080
HOST = localhost

